.dropdown-header{
    border: 1px solid #d5bebe;
    display: block;
    text-align: left;
    padding: 8px;
    line-height: 1.2;
    position: relative;

    &::after{
        content: '';
        height: 12px;
        width: 12px;
        position: absolute;
        right: 9px;
        border-left: 2px solid #908a8a;
        border-bottom: 2px solid #908a8a;
        transform: rotate(-45deg);
    }
}
.dropdown-content{
    border: 1px solid #d5bebe;
    display: none;
    & a{
        display: block;
        text-align: left;
        padding: 5px 12px;

        &:hover{
            background: #f5f5f5;
            text-decoration: none;
        }
    }
}

.dropdown-header.active + .dropdown-content {
    display: block;
}