<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="row no-gutters border">
                <div class="col p-4">
                    <h1>Contact Us</h1>
                    <p class="card-text mb-auto">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna
                        mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                        fermentum massa justo sit amet risus. </p>
                        <button class="btn btn-primary mt-5">Get in touch</button>

                    </div>
                <div class="col m-3">
                    <svg class="bd-placeholder-img" width="500" height="550" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: Thumbnail">
                        <rect width="100%" height="100%" fill="#f8f9fa"></rect><text x="30%" y="50%" fill="#212529"
                            font-size="36" dy=".5em">Contact Us</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>