<div class="container">
    <div class="row">
        <div class="col-12 mx-auto border py-4">
            <div class="text-center">
                <h2>Our <span class="text-primary"> Products </span></h2>
                <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card
                    has
                    even longer content than the first to show that equal height action. </p>
            </div>
            <hr class="mb-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <img src="../../assets/images/laptop.jpg" class="card-img-top" alt="Laptop">
                        <div class="card-body">
                            <h5 class="card-title">Laptop</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                            </p>
                            <a href="javascript:void(0)" routerLink="laptop">Select this product</a>
                            <!-- <a href="javascript:void(0)" (click)="onSelectProduct('Laptop')">Select this product</a> -->
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../assets/images/mobile.jpg" class="card-img-top" alt="Mobile">
                        <div class="card-body">
                            <h5 class="card-title">Mobile</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                            </p>
                            <a href="javascript:void(0)" routerLink="mobile">Select this product</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../assets/images/television.png" class="card-img-top" alt="Laptop">
                        <div class="card-body">
                            <h5 class="card-title">Television</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                            </p>
                            <a href="javascript:void(0)" routerLink="television">Select this product</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../assets/images/washing-machine.jpg" class="card-img-top" alt="washing machine">
                        <div class="card-body">
                            <h5 class="card-title">Washing machine</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                            </p>
                            <a href="javascript:void(0)" routerLink="washing-machine">Select this product</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <router-outlet></router-outlet>
                </div>

                <!-- <div class="col-md-12 m-3 py-4 bg-success text-white text-center">
                    <h2 *ngIf="!productSelected">Please select any product</h2>
                    <h2 *ngIf="productSelected">{{selectProduct}} is selected</h2>
                    <button class="btn btn-light mt-4">Add to Cart</button>
                </div> -->
            </div>
        </div>
    </div>
</div>