<div class="container">
    <div class="row border p-4">
        <div class="col-md-4">
            Gallery Item : <strong>{{selectedItem.id}}</strong> <br>
            Title : <strong>{{selectedItem.title}}</strong>

            <div class="mt-5">
                <custom-dropdown></custom-dropdown>
            </div>
        </div>
        <div class="col-md-8">
                <figure class="figure">
                        <img src="{{selectedItem.imgUrl}}" class="figure-img img-fluid" alt="">
                    </figure>
        </div>
    </div>
</div>