<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">UX Ninja</a>
    <ng-container *ngIf="goBackLink">
        <div class="row no-gutters ml-4">
            <!-- <a href="javascript:void(0)" class="pr-4"> <i class="fa fa-chevron-left"></i> Back to Products</a> -->
            <a href="javascript:void(0)" routerLink="{{goBackLink.url}}"> <i class="fa fa-chevron-left"></i> {{goBackLink.text}}</a>
        </div>
    </ng-container>
    <ul *ngIf="headerNav" class="navbar-nav mr-auto mt-2 ml-4 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="gallery" routerLinkActive="active">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact us</a>
        </li>
    </ul>
    <div class="navbar-text">
        <ng-container *ngIf="headerLoginBlock">
            <button *ngIf="!loggedInUser" class="btn btn-outline-primary">Sign In</button>
            <ul *ngIf="loggedInUser" class="list-group list-group-horizontal-sm">
                <li class="list-group-item bg-transparent border-0 p-3">Welcome <strong class="text-primary">UX Ninja</strong></li>
                <li class="list-group-item bg-transparent border-0 p-2"><button class="btn btn-outline-primary"><i class="fa fa-unlock"></i> Logout</button></li>
            </ul>
        </ng-container>
        <ul class="list-group list-group-horizontal-sm" *ngIf="headerContactDetail">
            <li class="list-group-item bg-transparent border-0 p-2"><i class="fa fa-envelope"></i> uxninja@gmail.com </li>
            <li class="list-group-item bg-transparent border-0 p-2"><i class="fa fa-phone"></i> 12345670 </li>
        </ul>

    </div>
</nav>